altair==5.5.0
annotated-types==0.7.0
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
arrow==1.3.0
asttokens 
async-lru 
attrs 
awswrangler==3.11.0
babel 
beautifulsoup4 
bleach 
blinker==1.9.0
blis==1.3.0
boto3==1.38.7
botocore==1.38.7
Bottleneck 
Brotli 
cachetools==5.5.2
catalogue==2.0.10
certifi 
cffi 
charset-normalizer 
click==8.1.8
cloudpathlib==0.21.0
comm 
confection==0.1.5
contourpy 
cycler 
cymem==2.0.11
debugpy 
decorator 
defusedxml 
en_core_web_sm 
executing 
fastjsonschema 
fonttools 
fqdn==1.5.1
gensim==4.3.3
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
h11 
httpcore 
httpx 
idna 
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
isoduration==20.11.0
jedi 
Jinja2 
jmespath==1.0.1
joblib 
json5 
jsonpointer==3.0.0
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-highlight-selected-word==0.2.0
jupyter-lsp 
jupyter_client 
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core 
jupyter_nbextensions_configurator==0.6.4
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab_server 
jupyterlab_widgets 
kiwisolver 
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
lxml==5.3.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.10.0
matplotlib-inline 
mdurl==0.1.2
mistune 
murmurhash==1.0.12
narwhals==1.41.0
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk==3.9.1
notebook 
notebook_shim 
numexpr 
numpy==1.26.4
overrides 
packaging 
pandas 
pandocfilters 
parso 
pexpect 
pillow 
platformdirs 
plotly 
ply 
preshed==3.0.9
prometheus_client 
prompt-toolkit 
protobuf==6.31.1
psutil 
ptyprocess 
pure-eval 
pyarrow==18.1.0
pycparser 
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5_sip 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
qtconsole 
QtPy 
referencing 
regex==2024.11.6
requests 
rfc3339-validator 
rfc3986-validator 
rich==13.9.4
rpds-py 
s3transfer==0.12.0
scikit-learn 
scikit-surprise==1.1.4
scipy==1.13.1
seaborn 
Send2Trash 
setuptools==72.1.0
shellingham==1.5.4
sip 
six 
smart-open==7.1.0
smmap==5.0.2
sniffio 
soupsieve 
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stack-data 
streamlit==1.45.1
tabulate==0.9.0
tenacity 
terminado 
thinc==8.3.4
threadpoolctl 
tinycss2 
toml==0.10.2
tornado 
tqdm==4.67.1
traitlets 
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing_extensions 
tzdata 
unicodedata2 
uri-template==1.3.0
urllib3 
wasabi==1.1.3
wcwidth 
weasel==0.4.1
webcolors==24.11.1
webencodings 
websocket-client 
wheel==0.45.1
widgetsnbextension 
wrapt==1.17.2
